:root {
    background-color: var(--primary-bg-color);
    --primary-bg-color: rgb(8, 24, 37);
    --primary-color: rgb(16, 36, 54);
    --border-color: rgb(161, 255, 203);
    --text-color: rgb(175, 228, 216);
}

body {
    margin: 0;
}

#tile-grid {

    display: flex;
    flex-direction: row;

    overflow-y: hidden;
    overflow-x: scroll;


}

#motor-tile {
    background-color: var(--primary-color);




}