[Unit]
Description=Chromium Kiosk
After=graphical.target network-online.target

[Service]
User=lemon
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/lemon/.Xauthority
ExecStart=/usr/bin/chromium \
    --kiosk \
    --no-first-run \
    --disable-infobars \
    --disable-session-crashed-bubble \
    http://localhost:7070/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
