[Unit]
Description=chromium kiosk

[Service]
Type=simple
ExecStart=/usr/bin/chromium \
    --kiosk \
    --noerrdialogs \
    --disable-infobars \
    --disable-session-crashed-bubble \
    --incognito \
    http://localhost:7070/

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target