:root {

  background-color: var(--bg-color);
  font-family: Exo;
  font-size: 2dvh;

  --bg-color: rgb(9, 12, 11);
  --fg-color: rgb(19, 31, 32);
  --button-color: rgb(9, 18, 19);
  --border-color: rgb(157, 255, 206);
  --text-color: rgb(170, 255, 220);
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Exo";
  src: "/assets/fonts/Exo/Exo-VariableFont_wght.ttf";
}