:root {

  background-color: var(--bg-color);

  margin: 0;
  padding: 0;

  --bg-color: rgb(9, 12, 11);
  --fg-color: rgb(19, 31, 32);
  --button-color: rgb(9, 18, 19);
  --border-color: rgb(157, 255, 206);
  --text-color: rgb(170, 255, 220);
}